_site
.sass-cache
.jekyll-metadata
.jekyll-cache
.idea
src/secret.php
.env
node_modules
_local

# Local Netlify folder
.netlify
npm-debug.log
# Python development virtual environment
_local/.idea*
_local/venv
_journal-clubs/.Rhistory
