---
---
<html>
<head>
    <title>Journal club overview</title>
    <link rel="stylesheet" href="assets/css/jc-overview.css"/>
    <script type="text/javascript" src="assets/js/jc-overview.js"></script>
    {% assign fields = 'title, host-organisation, contact, address, country, host-org-url, osf, zotero, website, twitter, signup, organisers' %}
    {% assign requiredFields = 'title, host-organisation, organisers, contact, address, country' %}
    {% assign fieldList = fields | split: ', ' %}
</head>
<body>
    <h1>Journal Club Overview</h1>
    <p><em>Note:</em> There are lots of journal clubs (yay) which means the sorting can be pretty slow (boo). But it does work.</p>
    <table>
        <thead>
        <tr>
            {% for f in fieldList %}
            <th>{{f}} <a onclick="sortTable('{{f}}')">&#x25B2;</a><a onclick="sortTable('{{f}}', false)">&#x25BC;</a></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for jc in site.journal-clubs %}
        <tr>
            {% for f in fieldList %}
                {% if jc[f] %}
                    {% if jc[f].first %}
                <td data-field-name="{{f}}">
                    <ul>
                        {% for i in jc[f] %}
                        <li title="{{i}}">{{i | truncate: 15, "..."}}</li>
                        {% endfor %}
                    </ul>
                </td>
                    {% else %}
                    <td data-field-name="{{f}}" title="{{jc[f]}}">{{jc[f] | truncate: 15, "..."}}</td>
                    {% endif %}
                {% elsif requiredFields contains f %}
                <td data-field-name="{{f}}" class="empty required"></td>
                {% else %}
                <td data-field-name="{{f}}" class="empty"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
---
    <h2>Email addresses</h2>
    <textarea>{% for jc in site.journal-clubs %}{% if jc.contact %}{{jc.contact}}{% unless forloop.last == true %}; {% endunless %}{% endif %}{% endfor %}</textarea>
</body>
</html>