---
layout: default
---

{% comment %}
=======================
List all the tags.
=======================
{% endcomment %}
<h1>Tags:</h1>
<div class="tag-list">
    <ul>
        {% for tag in site.tags %}
        <li><a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a></li>
        {% endfor %}
    </ul>
</div>

{% comment %}
=======================
List all posts with a certain tag.
=======================
{% endcomment %}

<h1>Posts by tag:</h1>
{% for tag in site.tags %}
<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
<ul>
    {% for post in tag[1] %}
    <li>
        <h3>
            <a href="{{ post.url }}">
                {{ post.title }} |
            </a>
                <small>{{ post.date | date_to_string }}
                    {% if post.categories %}
                    [{% for cat in post.categories %}<a href="/categories.html#{{ cat }}">{{cat}}</a>{% unless forloop.first == true %}, {% endunless %}{% endfor %}]
                    {% endif %}
                </small>
        </h3>
    </li>
    {% endfor %}
</ul>
{% endfor %}

