<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <h2 class="footer-heading">{{ site.title | escape }}</h2>
                <p>{{- site.description | escape -}}</p>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                {%- if site.author -%}
                <p class="p-name footer-author">{{ site.author | escape }}</p>
                {%- endif -%}
                {%- include social.html -%}
            </div>

            <div class="footer-col footer-col-links">
                <ul class="contact-list">
                    <li><a href="/code-of-conduct/">Code of Conduct</a></li>
                    <li><a href="https://www.redbubble.com/people/rptea/works/62022837?asc=u" target="_blank">Merchandise <sup><i class="fas fa-external-link-square-alt" aria-hidden="true"></i></sup></a></li>
                    <li><a href="https://osf.io/3qrj6/" target="_blank">OSF Repository <sup><i class="fas fa-external-link-square-alt" aria-hidden="true"></i></sup></a></li>
                    <li style="padding-top: 1em"><a href="https://www.rse.ox.ac.uk/" target="_blank">
                        <img src="assets/images/sponsors/oxrse_logo.svg" alt="Oxford Research Software Engineering" style="width: 10em;"/><br/>
                        Sponsored by Oxford RSE <sup><i class="fas fa-external-link-square-alt" aria-hidden="true"></i></sup>
                    </a></li>
                </ul>
            </div>
        </div>

    </div>

</footer>

