<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <h2 class="footer-heading">{{ site.title | escape }}</h2>
                <p>{{- site.description | escape -}}</p>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                {%- include social.html -%}
                <ul class="contact-list">
                    <li class="p-name">
                        {%- if site.author -%}
                        {{ site.author | escape }}
                        {%- endif -%}
                    </li>
                    {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="footer-col sponsors">
                <div class="logo">
                    <a href="https://ukrn.org/" title="United Kingdom Reproducibility Network"><img alt="UKRN logo" src="/assets/images/UKRN-logo.jpeg"/></a>
                </div>
                <div class="thanks">
                    <p>We are grateful for the support of the <a href="https://ukrn.org/" title="United Kingdom Reproducibility Network">UKRN <sup><i class="fas fa-external-link-square-alt"></i></sup></a>.</p>
                </div>
            </div>
        </div>

    </div>

</footer>

