<header class="site-header">

    <div class="wrapper">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        {% include logo.html %}
        </a>

        <nav class="site-nav" aria-label="Primary">
            <ul class="site-nav-links">
                <li>
                    <details class="nav-dropdown" name="site-nav">
                        <summary class="page-link">ReproducibiliTea</summary>
                        <ul class="nav-dropdown-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about/">About us</a></li>
                            <li><a href="/publications/">Associated publications</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details class="nav-dropdown" name="site-nav">
                        <summary class="page-link">Find a Club</summary>
                        <ul class="nav-dropdown-menu">
                            <li><a href="/journal-clubs/">Overview</a></li>
                            <li><a href="/calendar/">Calendar</a></li>
                            <li><a href="/online/">Online meetings</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details class="nav-dropdown" name="site-nav">
                        <summary class="page-link">Organizers</summary>
                        <ul class="nav-dropdown-menu">
                            <li><a href="/organizers/">Overview</a></li>
                            <li><a href="/join-reproducibiliTea.html">Sign up your journal club</a></li>
                            <li><a href="/online/">Online meetings</a></li>
                            <li><a href="/Zotero-group/">Zotero Group Info</a></li>
                            <li><a href="/edit-jc.html">Edit your journal club</a></li>
                            <li><a href="/card/">Make a meeting card</a></li>
                            <li><a href="/code-of-conduct/">Code of Conduct template</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details class="nav-dropdown" name="site-nav">
                        <summary class="page-link">Community &amp; Outputs</summary>
                        <ul class="nav-dropdown-menu">
                            <li><a href="/community/">Overview</a></li>
                            <li><a href="/sharing-stories/">Sharing Stories</a></li>
                            <li><a href="/collaborations/">Collaborations</a></li>
                            <li><a href="/special-interest-groups/">Special Interest Groups</a></li>
                            <li><a href="/conference2026/">Conference 2026</a></li>
                            <li><a href="/posts/">Blog</a></li>
                            <li><a href="/post-publication-reviews/">Post-publication Reviews</a></li>
                            <li><a href="/resources/">Resources</a></li>
                            <li><a href="https://rpt-rl.netlify.app/" target="_blank">Reading Lists <sup><i class="fas fa-external-link-square-alt" aria-hidden="true"></i></sup></a></li>
                            <li><a href="https://soundcloud.com/reproducibilitea" target="_blank">Podcast <sup><i class="fas fa-external-link-square-alt" aria-hidden="true"></i></sup></a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </nav>
    </div>
    <script>
        document.addEventListener('click', function (e) {
            document.querySelectorAll('.nav-dropdown[open]').forEach(function (d) {
                if (!d.contains(e.target)) d.removeAttribute('open');
            });
        });
    </script>
</header>
