{% assign id = jc.title | replace: " ", "-" %}
{% unless jc.geolocation %}
<input id="{{ id }}" type="text" value="" placeholder="awaiting fetch result"/>
<script type="text/javascript">
    function lookup() {
        const input = document.getElementById("{{ id }}");
        const addr = "{{ jc.address | url_encode }}";
        fetch(`https://nominatim.openstreetmap.org/search?q=${addr}&format=json&limit=1`)
            .then(r => r.json())
            .then(j => {
                if (!j[0] || !j[0].lat || !j[0].lon) throw "No result from Nominatim.";
                input.value = `geolocation: [${j[0].lat}, ${j[0].lon}]`;
            })
            .catch(err => {
                console.warn(err);
                input.placeholder = String(err);
            });
    }
    lookup();
</script>
{% endunless %}
