<div id="map" style="height: 500px"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

<script>
    {% assign geos = site.journal-clubs | where_exp: "item", "item.geolocation" | where_exp: "item", "item.status != 'pending'" %}
    const jcLocations = [
        {% for jc in geos %}["{{ jc.title | escape }}", {{ jc.geolocation | join: ", " }}]{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];

    const map = L.map('map', { center: [20, 0], zoom: 2 });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 18
    }).addTo(map);

    const cluster = L.markerClusterGroup();
    const jcSearch = document.getElementById('jcSearch');
    const markersByTitle = {};
    jcLocations.forEach(([title, lat, lng]) => {
        const marker = L.marker([lat, lng]).bindPopup(title);
        markersByTitle[title] = marker;
        if (jcSearch) {
            marker.on('click', () => {
                jcSearch.value = '';
                jcSearch.dispatchEvent(new Event('input'));
                jcSearch.dispatchEvent(new Event('change'));
            });
        }
        cluster.addLayer(marker);
    });
    map.addLayer(cluster);

    if (jcSearch) {
        const focusMarker = (title) => {
            const marker = markersByTitle[title];
            if (marker) cluster.zoomToShowLayer(marker, () => marker.openPopup());
        };
        jcSearch.addEventListener('change', () => focusMarker(jcSearch.value));
        focusMarker(jcSearch.value);
    }
</script>
