{% capture content %}

**Want to start your own journal club?**

Do it! It's a low commitment, fun and flexible way to start spreading Open Science ideas in your department. We also have an active Slack community where ReproducibiliTea organisers support each other, and are organising a system for you to get merchandise! 

We have an [OSF page <sup><i class="fas fa-external-link-square-alt"></i></sup>](https://osf.io/3qrj6/wiki/home/) where you can download all the necessary materials that you can freely share and adapt. There you will find:
- A welcome letter telling you more about ReproducibiliTea
- The ReproducibiliTea Logo
- Various ReproducibiliTea poster templates
- A sample checklist for organising your own Journal Club
- Paper suggestions for what to cover
- And much much more ...

We also maintain a [central Zotero library <sup><i class="fas fa-external-link-square-alt"></i></sup>](https://www.zotero.org/groups/2354006/reproducibilitea/items/) with collections for each individual journal club, as well as a folder of suggestions for [introductory papers <sup><i class="fas fa-external-link-square-alt"></i></sup>](https://www.zotero.org/groups/2354006/reproducibilitea/items/collectionKey/5EMUTRWM) for the first few journal clubs.

If you are planning to start your own ReproducibiliTea journal club please get in touch with Amy Orben ({{ site.email }}) who will send you the sign up details to get you on our website, Slack group and add you to our mailing list.

{% endcapture %}

<article class="post h-entry jc-showcase placeholder" id="jcShowcase" itemscope itemtype="http://schema.org/BlogPosting">
    {{ content | markdownify }}
</article>
