/* Colours */
:root {
    --color-rpt-primary: rgb(0, 134, 207);
    --color-rpt-secondary: rgb(0, 77, 108);
}

/* Animations */
@keyframes spin {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
}

/* Footer */

.sponsors {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.sponsors .thanks {
    align-self: center;
}

/* Index.html */
.jc-list {
    margin-bottom: 0;
}

/* Person.html */
.person {
    position: relative;
    background-color: aliceblue;
    padding: 2px;
    white-space: pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-space;
}

.person-social {
    display: none;
}

.person:hover .person-social {
    position: absolute;
    width: 100%;
    left: 50%;
    top: calc(-100% - .5em);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aliceblue;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    padding-top: .5em;
    padding-bottom: 2px;
    min-width: min-content;
    transform: translateX(-50%);
}

.person-social i, .person-social svg {
    font-size: 1.2em;
    padding: .2em;
}

/* Image.html */

.image {
    max-width: 100%;
    margin: auto;
    transition: all 400ms;
    text-align: center;
}

.fig a * {
    max-width: 100%;
    border-radius: 1em;
    box-shadow: 0 2px 9px 0 #636363;
}

/* Tags */

.tag-list ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}

.tag-list li {
    padding: .25em .5em;
    background-color: aliceblue;
    border-radius: .5em;
    margin: .33em;
    font-size: .8em;
    box-shadow: 0 1px 3px -1px black;
}

.tag-list li:hover {
    background-color: lightgrey;
}

.tag-list a:hover {
    text-decoration: none;
}

/* Journal club details */
.jc-showcase {
    margin-top: 2em;
}
.jc-showcase:not(.placeholder) {
    display: flex;
    justify-content: space-between;
}

.jc-body {
    width: 60%;
}

.jc-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100%;
    justify-content: center;
}

.jc-details {
    display: flex;
    flex-direction: column;
}

.jc-organisers {
    display: flex;
    flex-direction: column;
}

/* Sponsors */
.sponsor {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
}
.sponsor .logo {
    align-self: center;
}

/* nav display */
.header-links {
    display: grid;
    list-style: none;
    margin: 0;
    grid-auto-flow: column;
    grid-column-gap: 2em;
}

.header-links li {
    display: flex;
    position: relative;
    background-color: white;
}

.header-links li:hover .header-links,
.header-links li:active .header-links {
    display: grid;
}

.header-links .header-links {
    display: none;
    grid-auto-flow: row;
    position: absolute;
    top: 100%;
    width: max-content;
}

div.page-link {
    font-weight: bold;
    cursor: default;
    letter-spacing: .25em;
}

#map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biohazard {
    padding: 1em;
    text-align: justify;
    border-style: double;
}
.biohazard h3 {
    background-color: yellow;
}
.biohazard h3 {
    text-align: center;
}
.biohazard:not(:hover):not(:focus) h3 {
    margin: 0;
}
.biohazard a {
    font-weight: bold;
}
.biohazard:not(:hover):not(:focus) p {
    display: none;
}
p.elipsis {
    display: none;
    margin-bottom: 0;
}
.biohazard:not(:hover):not(:focus) p.elipsis {
    display: block;
    text-align: center;
}


@media screen and (max-width: 800px) {
    .jc-showcase {
        flex-wrap: wrap;
    }
    .jc-body, .jc-info {
        min-width: 100%;
        padding: unset;
    }
    .jc-info {
        min-height: unset;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .header-links {
        display: unset;
    }
}