name: Jekyll site CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  jekyll:
    runs-on: ubuntu-latest
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/Gemfile
    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        cache-version: 1

    - name: Build
      run: bundle exec jekyll build

    - name: Test
      run: |
        ls -la _site
        if [ ! -f _site/index.html ]; then
          echo "Build failed: _site/index.html not found"
          exit 1
        fi